<div class="stage-field">
  <input placeholder="name" type="text" value="0" name="video[stages_attributes][][name]">
  <input placeholder="start at" type="text" value="0" name="video[stages_attributes][][start_at]">
  <input placeholder="end at" type="text" value="10" name="video[stages_attributes][][end_at]">
</div>
