<div class="stage-field">
  <div>
    <input placeholder="name" type="text" name="video[stages_attributes][][name]" class="form-control">
  </div>
  <div class="time-holder" style="margin-right: 2%">
    <input placeholder="start at" type="text" name="video[stages_attributes][][start_at]" class="form-control">
  </div
  ><div class="time-holder">
    <input placeholder="end at" type="text" name="video[stages_attributes][][end_at]" class="form-control">
  </div>
</div>
