<h1>Dancit copyright information</h1>

<p>We at Dancit respect the intellectual property of others and we ask our user to do the same. Our users are responsible to make sure that the materials they upload to the site do not infringe any third party copyright.</p>

<p>In accordance with Digital Millenium Copyright Act, we will delete any material from our site if we are properly notified that the material infringe a third party's copyright. Any users who repeatedly infringe copyrights will have their accounts removed.</p>

<h1>Filing a notice to remove copyrighted material</h1>

<p>If you believe that there is any copyrighted material on our site that has been copied, please send us a written notife with the following information:</p> 

<ul>
 <li>Name.</li>
 <li>Address.</li>
 <li>Telephone number.</li>
 <li>Email address.</li>
 <li>A description of the copyrighted material that you think has been copied.</li>
 <li>Location of the infringing material (eg. link).</li>
</ul>

<p>You may submit this information to: copyright@dancit.com</p>


