<h1>How to use site and functions</h1>

<h2>Search</h2>
<ul>
<li>Start typing to the search bar.</li>
<li>Press enter to search and page provides matches.</li>
</ul>

<h2>Categories</h2>
<ul>
<li>Click on the category links on the right side of the main page to display lessons from a category.</li>
</ul>

<h2>Accessing lessons</h2>
<ul>
<li>Display the video-playing page by clicking video thumbnail from the home page or any page that lists lessons.</li>
</ul>

<h2>Playing a video</h2>
<ul>
<li>Slow down the video: Use speed controller on the lower right corner of the video (default 1x).</li>
<li>Mirror function: click "Mirror Play" button below the video to flip screen horizontally. </li>
<li>A-B loop: Click "Loop" button to repeat a segment which correspond with currently playing part.</li>
</ul>

<h2>Creating a lesson</h2>

If you want to create a teaching video first:

<ol>
<li>Sign in
<ul>
<li>Type email address and password and click sign in button.</li>
<li>Alternatively you can login via external services (Facebook, Google).</li>
</ul>

<li>Start creating
<ul>
 <li>Click "Add new video" button to go to creating page.</li>
</ul>

<li>Import a video</li>
<ul>
<li>Add name, tags and other description for the video.</li>
<li>Click "Upload from My Computer" button to upload a video from local computer.</li> 
<li>Or import video from YouTube: paste a YouTube link into textbox.</li>
<li>Click "Submit" button to finish upload.</li> 
</ul>
</ol>

<h2>Editing a lesson - Define stages</h2>
<ul>
<li>Click "Add" link to add a stage.</li>
<li>Type stage name in textbox.</li>
<li>Set start time and end time manually.</li>
<li>Or drag starting point and ending point from the slider and click "Get Slider" button to automatically fill in the start and end time.</li>
<li>Click "Submit" button to finish creating phase.</li>
</ul>

<h2>Modify a lesson</h2>
<ul>
 <li>When on the video playing page, click "Edit" button on the right side under the video to add more stages or modify time of stages.</li>
</ul>


