

.navbar-static-top {
  margin-bottom: 19px;
}

.carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev        { left: -33%; }
.carousel-control.left,.carousel-control.right {background-image:none;}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.carousel {
	margin-bottom: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #404040;
}

.footer-text  {
    margin-top: 10px;
}

.footer-text a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.footer-text a:hover {
  font-size: 20px;
  color: #f5942e;
  text-decoration: none;
}

.sidebar {
  padding: 0px;
  border-left: 1px solid #dedede;
}

.sidebar a {
  font-size: 20px;
  color: #434343;
  text-decoration: none;
}

.sidebar a:hover {
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.sidebar ul {
  padding-top: 0px !important;
}

.sidebar > ul {
  padding: 0px;
  list-style-type: none;
}

.sidebar  li {
  margin: 5px;
  padding: 15px;
  border-bottom: 1px solid #dedede;
}

.vcenter {
    vertical-align:middle;
    text-align:center;

}

.glyphicon-user {
	font-size: 20px;
	vertical-align:middle;
	margin-left: 10px;
}

.sidebar ul {
  padding-top: 20px;
}


.mid-form-holder {
  padding: 10px;
  border: 1px solid #cecece;
  border-radius: 9px;
  margin-top: 30px;
  box-shadow: 0px 0px 9px #cecece;
}

.video-actions-holder {
  padding-bottom: 10px;
}
.inapp-action {
  padding-left: 20px;
}

.inapp-action,.social-actions {
  a {
    padding-left: 5px;
    color: black;
    font-size: 24px;
  }
}
.container {
  padding-right: 0px;
  padding-left: 0px;
}

.time-holder {
  margin-top: 2px;
  width: 49%;
  display: inline-block;
}

.edit-form-video {
  min-width: 310px;
}
.stage-field {
  padding: 5px;
  margin-top: 5px;
  background: #E6E6E6;
  border-radius: 5px;
  border: 1px solid rgba(226, 224, 224, 0.87);
}

.sidebar-video-holder ul {
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  h3 {
    margin-top: 5px;
    padding-left: 10px;
  }
}

.sidebar-video-list {
  list-style: none;
  padding-left: 5px;
  li {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #dedede;

  }
}

#new_video {
  .row {
  }
  .panel-body {
	height: 81px;

  }
}
.vid-thumb-img {
  width: 100%;
  margin: 0px !important;
}

.vjs-break-overlay {
  height: 10% !important;
}

.like-btn {
  &:hover {
	color: #f5942e;
  }
}

.nodecor {
  text-decoration: none;
  &:hover {
	text-decoration: none;
  }
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mirrorvid {
  transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg); /* IE 9 */
  -webkit-transform: rotateY(-180deg); /* Safari and Chrome */
}

.loop-background {
  background: red -50% 0 repeat !important ;
}
.navbar-toggle{
  z-index:10;
}
.slider.slider-horizontal {
  width: 100%;
}
.slider-selection {
  background: #f5942e;
}
.video-js {padding-top: 56.25%}
.vjs-fullscreen {padding-top: 0px}

.navbar-default {
  background-color: #404040;
  border-color: #404040;
}

a.navbar-brand {
  padding: 0px;
  z-index: 10;
}

img.logo {
  width: 100px;
  max-height: 50px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.nav.navbar-right .button_to {
  margin-top: 10px;
}

li.dropdown a.user-top{
  margin-left: 10px;
  color: white !important;
}
a.user-top:hover {
  color: white !important;
}

li.dropdown.open a {
  color: #333 !important;
}

.dropdown-menu li {
  background: white;
  &:hover {
    background: #eee;
  }
}

.sidebar a:hover {
  color: #f5942e;
}
.related-item {
  a {
    color: #333;
  }
  a:hover h4{
    text-decoration: underline;
  }
}
