<footer class="footer">
  <div class="row vcenter footer-text">
    <div class="col-xs-4">
      <a href="mailto:doanbui@aalto.fi"><i class="glyphicon glyphicon-envelope"></i></a>
    </div>
    <div class="col-xs-4">
      <a href="/help"><i class="fa fa-question"></i></a>
    </div>
    <div class="col-xs-4">
      <a href="/copyright"><i class="glyphicon glyphicon-copyright-mark"></i></a>
    </div>
  </div>
</footer>


