<footer class="footer">
  <div class="row vcenter footer-text">
        <div class="col-xs-4">
      <a href="#"><span class="glyphicon glyphicon-envelope"></span> About us</a>
    </div>
    <div class="col-xs-4">
      <a href="#"><span class="glyphicon glyphicon-share"></span> Follow us</a>
    </div>
    <div class="col-xs-4">
      <a href="#"><span class="glyphicon glyphicon-copyright-mark"></span> Copyright</a>
    </div>
  </div>
</footer>


