<!DOCTYPE html>
<html>
<head>
  <title>Dancit</title>
  <script src="http://vjs.zencdn.net/4.12/video.js"></script>
  <link href="http://vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
